/1/ConsoleApp/build/
/2/EmployeeTest/nbproject/private/
/2/EmployeeTest/build/
/3/EmployeeTest/nbproject/private/
/3/EmployeeTest/build/
/4/PetMain/nbproject/private/
/4/PetMain/build/
/5/PetMain/nbproject/private/
/5/PetMain/build/
/6/FormulasConsole/build/
/6/FormulasForm/build/
/6/PointLocation/build/
/7/DivisorsConsole/nbproject/private/
/7/DivisorsForm/nbproject/private/
/7/ShadedRegion/nbproject/private/
/7/DivisorsConsole/build/
/7/DivisorsForm/build/
/7/ShadedRegion/build/
/8/Array1D/nbproject/private/
/8/Matrix2D/nbproject/private/
/8/Array1D/build/
/8/Matrix2D/build/
/9/AveragePositive/nbproject/private/
/9/AveragePositive/build/
/10/Lab10/build/
/10/Lab10/nbproject/private/
/1/ComplexApp/build/
/11/ForbiddenWords/build/
/11/ForbiddenWords/nbproject/private/
